# ─── API Gateway ──────────────────────────────
GATEWAY_PORT=8080
JWT_SECRET=ganti-dengan-secret-yang-panjang-dan-random

# ─── Services gRPC ports ──────────────────────
USER_SERVICE_ADDR=user-service:50051
ORDER_SERVICE_ADDR=order-service:50052
NOTIFICATION_SERVICE_ADDR=notification-service:50053

# ─── PostgreSQL ───────────────────────────────
# satu instance, beda database
POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres

DB_USER_URL=postgres://postgres:postgres@postgres:5432/db_users?sslmode=disable
DB_ORDER_URL=postgres://postgres:postgres@postgres:5432/db_orders?sslmode=disable
DB_PAYMENT_URL=postgres://postgres:postgres@postgres:5432/db_payments?sslmode=disable
DB_NOTIFICATION_URL=postgres://postgres:postgres@postgres:5432/db_notifications?sslmode=disable

# ─── Redis ────────────────────────────────────
REDIS_ADDR=redis:6379
REDIS_PASSWORD=
REDIS_DB=0

# ─── Kafka ────────────────────────────────────
KAFKA_BROKERS=kafka:9092

# ─── Kafka Topics ─────────────────────────────
TOPIC_ORDER_CREATED=order.created
TOPIC_PAYMENT_DONE=payment.done
TOPIC_PAYMENT_FAILED=payment.failed
TOPIC_STOCK_RESERVED=stock.reserved

# ─── Consumer Groups ──────────────────────────
GROUP_PAYMENT_WORKER=payment-workers
GROUP_NOTIFICATION=notification-workers
